# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List popular tools for Data Science
- Evaluate arithmetic expressions
- Writing code to convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R programming
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. PyTorch

|Data Science Tools|
|---|
|Apache Spark|
|Apache Hadoop|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by diving by 60.
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Author
Ishanee